#tabs .tab{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
#tabs .whiteborder{
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;
}

#tabs .tabContent{
    width: 300px;
    height: 100px;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
}


#tabs .hide{
    display: none;
}

#tabs .show{
    display: block;
}

/*=============================================TAB=====================================================*/
/*=============================================Модальное окно=====================================================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*=============================================Модальное окно=====================================================*/
/*=============================================================Анимация====================================*/
#myCont{
    width: 400px;
    height: 400px;
    position: relative;
    background: #e9322d;
}

#myAnim{
    width: 50px;
    height: 50px;
    position: absolute;
    background: green;
}
/*=============================================================Анимация====================================*/
/*=========================Слайдер========================*/
* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", sans-serif;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*=========================Слайдер========================*/
/*=======================фильтер на сайт=====================================*/
#myInput{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 5px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#myUL{
    list-style: none;
    padding: 0;
    margin: 0;
}
#myUL li a{
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
#myUL li a.header{
    background-color: #e2e2e2;
    cursor: default;
}
#myUL li a:hover:not(.header){
    background-color: #eee;
}

/*<!--=======================фильтер на сайт=====================================-->*/
/*<!--=======================================Модальные изображения=================================-->*/
#myImg{
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#myImg:hover{opacity: .7}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s;
}

@-webkit-keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1)}
}

@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1)}
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: .3s;
}

.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width : 700px){
    .modal-content{width: 100%;}
}

/*<!--=======================================Модальные изображения=================================-->*/
